.edit{
    display: flex;
    flex-direction: column;
    width: 300px;
    gap:10px;
    align-items: start;
    height: 300px;
    border: 2.5px solid orange;
    padding: 13px;
}
*{
    margin: 0;
    padding: 0;
}
.row{
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 300px;
    height: 300px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.daughter>h4{
    margin-bottom: 10px;
}
.daughter>h3{
    margin-bottom: 10px;
    margin-top: 20px;
}
.daughters{
    display: flex;
    flex-direction: column;
}
.daughter{
    border: 1px solid orange;
    padding: 15px;
}
.toggle{
    margin-bottom: 10px;
    margin-top: -220px;
}